/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border-style: solid black;
  border-bottom-width: px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
    
}
button:active{
    background-color: gray;

}
button:focus {
    color: white;
}
button{
    border: none;
}

img {
    width: 50px;
    height: 50px;
}

div>p:first-child {
    display: inline;

     
}


.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    font-size: 20px;
    color: white;
    display: block;
    margin: auto;
    margin-top: 100px;
  }

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 200px;
    text-align: center;
}

.icone {
    height: 15px;
}
table{
    margin: auto;
    padding: auto;
  }


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    display:block;
    padding: 100px;
        
}
#container-de-descricao>p{
    width: 180px;
    display: block;
    text-align: center;
    margin: auto;
}

#container-para-comprar {
    background-color: #e7eb90;
    height: 400px;
    padding-top: 100px;
}

#container-para-comprar>p {
    color: #c44f00;
    margin-top: 100px;
    font-size: 60px;
    display: block;
    
}
ol{
    margin: 10px;
    
}
li{
    list-style-position: inside;
}

/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 50%;
   padding:10px;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.container-do-search {
    margin-top: 100px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    padding: auto;
    margin-top: 200px;
}

#back-button:hover {
    background-color: #635a3d
}
.icone{
    width: 20px;
    height: 20px;
}