* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 39, 39);
    justify-content: center;}

header {
    padding:1%;
    text-align: center;
    height: 20vh;
    display: block;

}
form{
    margin: 1%;
}

section {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
}

.semana {
    border: 4px dotted white;
    width: 14%;
    padding: 5px;
    background-color: rgb(181, 197, 107);
}
h3, label{
    text-align: center;
    color: white

}
#novaTarefa{

    background-color: rgb(181, 197, 107);
    font-size: 1em;
    color: honeydew;
    width: 20vw;
    height: 3vh;
  
}
footer{
    justify-content: center;
    width: 100vw;
    height: 10vh;
    display: flex;
  
}
#clear{
    margin-top: 2%;
    font-size: 100%;
    color:rgb(181, 197, 107) ;
    background-color: rgb(234, 236, 240);
    width: 10%;
    height: 5vh;
}
ul{
    margin-top: 10%;
}
li{
    font-size: 20px;
    text-align: center;
    border-block: 1px solid rgb(253, 249, 249);

}